h1 {
  font-weight: bold;
  text-align: center;
}

table {
  width: 50%;
}

td {
  width: 100px;
  height: 100px;
}

.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#second {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
